/* html,body{
  min-width: 100%; 
  min-height: 100%; 
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: unset;
  font-family: "Open Sans", Sans-Serif;
}

body {
  /* -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1); */
}

.app {
  height: 100vh;
  /* width: 100vw; */
  /* min-width: 100vw; */
  max-width: 100vw;
  background-color: #E4E4E4;
}